* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.3em;
}

h1, h2 {
	font-weight: normal;
	line-height: 1.3em;
}

a {
	color: #00f;
}

a:visited {
	color: #99f;
}

header {
	background: #333;
	overflow: auto;
	z-index: 2;
}

.loading {
	height: 100%;
	background: url('/img/loading.gif') no-repeat center center;
}

.logo {
	float: left;
}

.logo a {
	display: block;
	padding: 10px 15px;
	font-size: 26px;
	color: #fff;
	text-decoration: none;
}

.nav {
	float: right;
}

.nav .pancake {
	display: inline-block;
	margin: 15px;
	padding: 6px 8px;
	font-size: 20px;
	line-height: 1em;
	color: #fff;
	text-decoration: none;
	background: #444;
	border-radius: 5px;
}

.nav ul {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	background: #444;
	z-index: 1;
}

.nav ul li {
	list-style: none;
}

.nav ul li a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
}

.nav ul li a:hover {
	background: #888;
}

.feed {
	padding: 5px 0;
	font-size: 20px;
	line-height: 1.3em;
}

.story {
	margin: 5px 0 10px;
	padding: 5px 15px;
	position: relative;
	list-style: none;
}

.story a {
	text-decoration: none;
}

.story .site a {
	font-size: 80%;
	line-height: 1em;
	color: #666;
}

.story .actions a {
	font-size: 75%;
	line-height: 1em;
	color: #999;
}

li[data-origin="news.ycombinator.com"] .icon,
li[data-origin="theverge.com"] .icon,
li[data-origin="polygon.com"] .icon {
	content: '';
	display: inline-block;
	margin: 0 10px 0 0;
	width: 16px;
	height: 16px;
	background: url('/img/icons.png');
}

li[data-origin="news.ycombinator.com"] .icon {
	background-position: 0 0;
}

li[data-origin="theverge.com"] .icon {
	background-position: 0 -16px;
}

li[data-origin="polygon.com"] .icon {
	background-position: 0 -32px;
}
