<!DOCTYPE html>
<html manifest="/static/manifest.appcache">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>Reader.py</title>
<link rel="stylesheet" href="static/css/styles.css">
</head>

<body>

<header>

    <a href="/" class="logo">Reader.py</a>

    <a href="#nav" class="menu-toggle">☰</a>

    <nav>
        <ul>
            <li><a href="#reload">Reload</a></li>
            <li><a href="#markallasread">Mark all as read</a></li>
        </ul>
    </nav>

</header>

<div class="wrapper">

    <div class="feed"></div>

</div>

<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/vendor/handlebars.min.js"></script>
<script src="/static/js/app.js"></script>

</body>
</html>
