<!DOCTYPE html>
<html manifest="/static/manifest.appcache">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>Reader.py</title>
<link rel="stylesheet" href="static/css/styles.css" />
</head>

<body>

<header>

	<h1 class="logo"><a href="/">Reader.py</a></h1>

	<nav class="nav">
		<a href="#nav" class="pancake">☰</a>
		<ul>
			<li><a href="#reload">Reload</a></li>
			<li><a href="#markallasread">Mark all as read</a></li>
			<li><a href="#resetreadstories">Reset read stories</a></li>
		</ul>
	</nav>

</header>

<div class="wrapper">

	<div class="feed"></div>

</div>

<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script src="static/js/app.js"></script>

</body>
</html>